/*!
    Title: Dev Portfolio Template
    Version: 1.2.1
    Last Change: 08/28/2017
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/body
{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
body.active
{
	overflow: hidden;
	z-index: -1;
}
.no-js #experience-timeline>div
{
	background: #fff;
	border: 1px solid #dcd9d9;
	margin-bottom: 10px;
	padding: 10px;
}
.no-js #experience-timeline>div h3
{
	color: #374054;
	display: inline-block;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}
.no-js #experience-timeline>div h4
{
	color: #7e8890;
	font-size: 1.2em;
	font-weight: 300;
	margin: 0 0 15px 0;
}
.no-js #experience-timeline>div p
{
	color: #74808a;
	font-size: 0.9em;
	margin: 0;
}
.no-js #experience-timeline:before,.no-js #experience-timeline:after
{
	content: none;
}
@keyframes dropHeader
{
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(0);
	}
}
a
{
	color: rgba(16, 158, 35, 1);
}
.projImg
{
	width: 300px;
	height: 300px;
}
header
{
	animation-duration: 0.75s;
	animation-iteration-count: 1;
	animation-name: dropHeader;
	animation-timing-function: ease;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 10;
}
.gradImg{
	width: 300px;
	margin-bottom: 25px;
	border-radius: 100%;
	transition: all 0.2s;
	opacity: 1;
}
header ul
{
	background: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: inline-block;
	margin: 0;
	padding: 10px;
	text-align: center;
}
header li
{
	display: inline-block;
}
header a
{
	/*color: #3498db;*/
	color: rgba(16, 158, 35, 1);
	display: block;
	padding: 10px;
}
header a:hover
{
	background: #eee;
	border-radius: 4px;
	color: #217dbb;
	text-decoration: none;
}
header a:focus
{
	color: #3498db;
	text-decoration: none;
}
header.active
{
	display: block;
}
header.sticky
{
	position: fixed;
	z-index: 999;
}
#menu.active
{
	display: block;
}
#mobile-menu-open
{
	background: #fff;
	border-radius: 4px;
	color: #3498db;
	cursor: pointer;
	display: none;
	font-size: 1.5em;
	padding: 0 7px;
	position: fixed;
	right: 15px;
	top: 10px;
	z-index: 20;
}
#mobile-menu-close
{
	background: #fff;
	color: #3498db;
	cursor: pointer;
	display: none;
	font-size: 1.5em;
	padding-right: 15px;
	padding-top: 10px;
	text-align: right;
	width: 100%;
}
#mobile-menu-close span
{
	font-size: 0.5em;
	text-transform: uppercase;
}
#mobile-menu-close i
{
	vertical-align: middle;
}
footer
{
	padding: 50px 0;
}
.copyright
{
	padding-top: 20px;
}
.copyright p
{
	color: #74808a;
	margin: 0;
}
.top
{
	text-align: center;
}
.top span
{
	border: 3px solid #b9bfc4;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 35px;
	margin: 15px auto 0 auto;
	text-align: center;
	width: 35px;
}
.top i
{
	color: #74808a;
}
.social
{
	text-align: right;
}
.social ul
{
	margin: 5px 0 0 0;
	padding: 0;
}
.social li
{
	display: inline-block;
	font-size: 1.25em;
	list-style: none;
}
.social a
{
	color: #74808a;
	display: block;
	padding: 10px;
}
.social a:hover
{
	color: #3498db;
}
.btn-rounded-white
{
	border: 3px solid #fff;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	padding: 15px 25px;
	transition: .5s ease all;
}
.btn-rounded-white:hover
{
	background: #fff;
	color: #3498db;
	text-decoration: none;
}
.shadow
{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}
.shadow-large
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.15);
}
.heading
{
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	margin: 0 0 30px 0;
	position: relative;
}
.heading:after
{
	/*background: #3498db;*/
	background: rgba(16, 158, 35, 0.8);
	content: '';
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 100%;
	width: 50px;
}
.background-alt
{
	background: #f2f2f5;
}
#lead
{
	background: url(../images/lead-bg.jpg);
	background-size: cover;
	height: 100vh;
	max-height: 1080px;
	min-height: 500px;
	overflow: hidden;
	padding: 15px;
	position: relative;
}
#lead-content
{
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}
#lead-content h1,#lead-content h2
{
	margin: 0;
}
#lead-content h1
{
	color: #fff;
	font-size: 5em;
	font-weight: 900;
	letter-spacing: 0.05em;
	line-height: 0.9em;
	text-transform: uppercase;
}
#lead-content h2
{
	/*color: #a0cfee;*/
	color: #ffffff;
	font-size: 2.25em;
	font-weight: 500;
	margin-bottom: 15px;
}
#lead-overlay
{
	/*background: rgba(33,125,187,0.8);*/
	background: rgba(16, 158, 35, 0.8);
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}
#lead-down
{
	bottom: 15px;
	color: #fff;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	width: 100%;
	z-index: 10;
}
#lead-down span
{
	border: 3px solid #a0cfee;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 35px;
	margin: 0 auto;
	text-align: center;
	width: 35px;
}
#lead-down i
{
	animation: pulsate 1.5s ease;
	animation-iteration-count: infinite;
	padding-top: 5px;
}
@keyframes pulsate
{
	0%
	{
		transform: scale(1, 1);
	}
	50%
	{
		transform: scale(1.2, 1.2);
	}
	100%
	{
		transform: scale(1, 1);
	}
}
#about
{
	border-bottom: 1px solid #dcd9d9;
	padding: 75px 15px;
}
#about h2
{
	color: #374054;
}
#about p
{
	color: #74808a;
	margin: 0;
}
#experience
{
	border-bottom: 1px solid #dcd9d9;
	padding: 50px 15px;
	text-align: center;
}
#experience h2
{
	color: #374054;
}
#experience-timeline
{
	margin: 30px auto 0 auto;
	max-width: 1000px;
	position: relative;
}
#experience-timeline:before
{
	/*background: #3498db;*/
	background: rgba(16, 158, 35, 0.8);
	bottom: 0;
	content: '';
	height: 100%;
	left: 303px;
	position: absolute;
	right: auto;
	top: 0;
	width: 3px;
	z-index: 0;
}
#experience-timeline:after
{
	background: #3498db;
	background: linear-gradient(to bottom, rgba(16, 158, 35, 0.8), rgba(52,152,219,0));
	content: '';
	height: 40px;
	left: 303px;
	position: absolute;
	top: 100%;
	width: 3px;
}
.vtimeline-content
{
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	margin-left: 350px;
	padding: 15px;
	text-align: left;
}
.vtimeline-content h3
{
	color: #374054;
	display: inline-block;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}
.vtimeline-content h4
{
	color: #7e8890;
	font-size: 1.2em;
	font-weight: 300;
	margin: 0 0 15px 0;
}
.vtimeline-content p
{
	color: #74808a;
	font-size: 0.9em;
	margin: 0;
}
.vtimeline-point
{
	display: block;
	margin-bottom: 30px;
	position: relative;
	vertical-align: top;
}
.vtimeline-icon
{
	/*background: #3498db;*/
	background: rgba(16, 158, 35, 0.8);
	border-radius: 50%;
	color: #fff;
	float: left;
	height: 50px;
	margin-left: 280px;
	position: relative;
	width: 50px;
	z-index: 99;
}
.vtimeline-icon i
{
	display: block;
	font-size: 2em;
	margin-top: 10px;
}
.vtimeline-date
{
	color: #374054;
	font-weight: 300;
	left: 0;
	position: absolute;
	text-align: right;
	top: 10px;
	width: 260px;
}
#education
{
	border-bottom: 1px solid #dcd9d9;
	padding: 50px 15px 20px 15px;
	text-align: center;
}
#education h2
{
	color: #374054;
	margin-bottom: 50px;
}
.education-block
{
	border: 1px solid #dcd9d9;
	margin: 0 auto 30px auto;
	max-width: 700px;
	padding: 15px;
	text-align: left;
}
.education-block h3
{
	color: #374054;
	float: left;
	font-weight: 500;
	margin: 0;
}
.education-block span
{
	color: #74808a;
	float: right;
}
.education-block h4
{
	clear: both;
	color: #74808a;
	font-weight: 500;
	margin: 0 0 15px 0;
}
.education-block p,.education-block ul
{
	color: #74808a;
	font-size: 0.9em;
	margin: 0;
}
.education-block ul
{
	padding: 0 0 0 15px;
}
#projects
{
	border-bottom: 1px solid #dcd9d9;
	padding: 50px 15px;
	text-align: center;
}
#projects h2
{
	color: #374054;
	margin-bottom: 50px;
}
.project
{
	background: #fff;
	border-radius: 4px;
	margin: 0 auto 30px auto;
	max-width: 900px;
	overflow: hidden;
	position: relative;
}
.project-image
{
	float: left;
}
.project-info
{
	margin-left: 300px;
	padding: 15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.project-info h3
{
	color: #374054;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0 0 15px 0;
}
.project-info p
{
	color: #74808a;
	font-size: 0.9em;
	margin: 0 0 15px 0;
}
.no-image .project-info
{
	margin: 0;
	padding: 30px 15px;
	position: relative;
	transform: none;
}
#more-projects
{
	display: none;
}
#skills
{
	padding: 50px 15px;
	text-align: center;
}
#skills h2
{
	color: #374054;
	margin-bottom: 50px;
}
#skills ul
{
	display: block;
	margin: 0 auto;
	max-width: 800px;
	padding: 0;
}
#skills li
{
	background: #e4e4ea;
	color: #374054;
	cursor: default;
	display: inline-block;
	font-size: 1.2em;
	list-style: none;
	margin: 7px;
	padding: 5px 10px;
}
#contact
{
	/*background: #3498db;*/
	background: rgba(16, 158, 35, 1);
	padding: 50px 15px;
	text-align: center;
}
#contact p a{
	color: #fff;
	font-weight: 500;
}
#contact p{
	color: #fff;
	font-weight: 500;
	margin: 0;
}
#contact h2
{
	color: #fff;
	font-weight: 500;
	margin: 0 0 15px 0;
}
#contact-form
{
	margin: 0 auto;
	max-width: 500px;
	margin-top: 15px;
}
#contact-form input,#contact-form textarea
{
	/*background: #1d6fa5;*/
	background: rgba(0, 14, 5, 0.73);
	border: none;
	border-radius: 4px;
	color: #fff;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	transition: .5s ease all;
	width: 100%;
}
#contact-form input::-webkit-input-placeholder,#contact-form textarea::-webkit-input-placeholder
{
	color: #fff;
}
#contact-form input:-moz-placeholder,#contact-form textarea:-moz-placeholder
{
	color: #fff;
	opacity: 1;
}
#contact-form input::-moz-placeholder,#contact-form textarea::-moz-placeholder
{
	color: #fff;
	opacity: 1;
}
#contact-form input:-ms-input-placeholder,#contact-form textarea:-ms-input-placeholder
{
	color: #fff;
}
#contact-form input:focus,#contact-form textarea:focus
{
	background: #16527a;
	outline: none;
}
#contact-form textarea
{
	height: 150px;
	resize: none;
}
#contact-form button
{
	background: #fff;
	border: none;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
	/*color: #3498db;*/
	color: rgba(16, 158, 35, 1);
	display: block;
	font-weight: 700;
	padding: 5px 10px;
	transition: .5s ease all;
	width: 100%;
}
#contact-form button:hover
{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.optional-section
{
	border-top: 1px solid #dcd9d9;
	padding: 50px 15px;
	text-align: center;
}
.optional-section h2
{
	color: #374054;
}
.optional-section-block
{
	background: #fff;
	border: 1px solid #dcd9d9;
	margin: 0 auto 30px auto;
	max-width: 700px;
	padding: 15px;
	text-align: left;
}
.optional-section-block h3
{
	color: #374054;
	font-weight: 500;
	margin: 0 0 15px 0;
}
.optional-section-block h4
{
	clear: both;
	color: #74808a;
	font-weight: 500;
	margin: 0 0 15px 0;
}
.optional-section-block p,.optional-section-block ul
{
	color: #74808a;
	font-size: 0.9em;
	margin: 0 0 15px 0;
}
.optional-section-block ul
{
	padding: 0 0 0 15px;
}
@media only screen and (max-width: 750px)
{
	#experience-timeline:before,#experience-timeline:after
	{
		left: 23px;
	}
	.vtimeline-date
	{
		display: block;
		margin-bottom: 15px;
		margin-left: 70px;
		position: relative;
		text-align: left;
		width: auto;
	}
	.vtimeline-icon
	{
		margin-left: 0;
	}
	.vtimeline-content
	{
		margin-left: 70px;
	}
}
@media only screen and (max-width: 992px)
{
	#lead
	{
		height: auto;
		max-height: auto;
		min-height: auto;
		padding: 100px 15px;
	}
	#lead-content
	{
		left: auto;
		position: relative;
		top: auto;
		transform: none;
	}
	#lead-content .gradImg{
		width: 200px;
		margin-bottom: 25px;
		border-radius: 100%;
		transition: all 0.2s;
		opacity: 1;
	}
	#lead-content h1
	{
		font-size: 3em;
	}
	#lead-content h2
	{
		font-size: 1.75em;
	}
	#about
	{
		text-align: center;
	}
	#about p
	{
		text-align: left;
	}
}
@media only screen and (max-width: 768px)
{
	header
	{
		animation: none;
		bottom: 0;
		display: none;
		height: 100%;
		position: fixed;
		z-index: 999;
	}
	#mobile-menu-open,#mobile-menu-close
	{
		display: block;
	}
	#menu
	{
		border-radius: 0;
		box-shadow: none;
		height: 100%;
		overflow-y: auto;
		width: 100%;
	}
	#menu li
	{
		display: block;
		margin-bottom: 10px;
	}
	#lead-content h1
	{
		font-size: 2em;
	}
	#lead-content h2
	{
		font-size: 1.3em;
	}
	#lead-content a
	{
		padding: 10px 20px;
	}
	#lead-down
	{
		display: none;
	}
	.education-block h3,.education-block span
	{
		float: none;
	}
	.project-image
	{
		display: none;
	}
	.project-info
	{
		margin: 0;
		padding: 30px 15px;
		position: relative;
		top: auto;
		transform: none;
	}
	footer
	{
		text-align: center;
	}
	.social
	{
		text-align: center;
	}
}
@media only screen and (max-width: 480px)
{
	#lead-content h1
	{
		font-size: 1.5em;
	}
	#lead-content h2
	{
		font-size: 1em;
	}
	#lead-content a
	{
		font-size: 0.9em;
		padding: 5px 10px;
	}
}