:root {
  --header-footer-bg: rgba(0,0,0,1);
  --main-bg-color: #121212;
  --highlight-bg-color: #212121;

  --text-emphasis: rgba(255,255,255,0.87);
  --text: rgba(255,255,255,0.6);
  --text-disabled: rgba(255,255,255,0.38);
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px
}
body.active {
    overflow: hidden;
    z-index: -1
}
.no-js #education-timeline>div, .no-js #experience-timeline>div {
    background: var(--highlight-bg-color);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcd9d9
}
.no-js #education-timeline>div h3, .no-js #experience-timeline>div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--text);
    display: inline-block;
    margin: 0
}
.no-js #education-timeline>div h4, .no-js #experience-timeline>div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: var(--text);
    margin: 0 0 15px 0
}
.no-js #education-timeline>div p, .no-js #experience-timeline>div p {
    color: var(--highlight-bg-color);
    font-size: 0.9em;
    margin: 0
}
.no-js #education-timeline:before,.no-js #education-timeline:after, .no-js #experience-timeline:before,.no-js #experience-timeline:after {
    content: none
}

.no-js header, .no-js #mobile-menu-open {
    background-color: var(--header-footer-bg);
}
.no-js #mobile-menu-open i,.no-js #lead-down, .no-js #to-top{
    visibility: hidden;
}


@keyframes dropHeader {
    0% {
    transform: translateY(-100%)
    }
    100% {
        transform: translateY(0)
    }

}
header {
    min-width: 100vw;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    z-index: 10;
    /*transition: background 0.5s ease-in;
    -webkit-transition: background 0.5s ease-in;*/
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s
}
header ul {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 0;
    /*
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
    */
}
header li {
    display: inline-block
}
header a {
    display: block;
    color: #3498db;
    padding: 10px
}
header a:hover {
    color: #217dbb;
    text-decoration: none;
    /*border-radius: 4px;*/
    /*border-bottom: 1px solid #217dbb;*/

}
header a:focus {
    color: #3498db;
    text-decoration: none
}
header.active {
    background-color: #121212;
    display: block
}
header.sticky {
    position: fixed;
    z-index: 999
}
#menu.active {
    background: #121212;
    display: block
}
header div.profile {
    float: left;
    user-select: none;
    position: fixed;
    left: 0;
    top: 0;
    color: #3498db;
    font-size: 1.5em;
    padding: 15px 15px;
    cursor:  pointer
}
#mobile-menu-open {
    background-color: transparent;
    user-select: none;
    min-width: 100vw;
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    color: #3498db;
    font-size: 1.5em;
    z-index: 200;
    padding: 10px 15px;
    text-align: right;
    /*transition: background-color 0.5s ease-in;
    -webkit-transition: background-color 0.5s ease-in;*/

}


#mobile-menu-close {
    user-select: none;
    display: none;
    text-align: right;
    width: 100vw;
    background: var(--header-footer-bg);
    font-size: 1.5em;
    padding: 10px 15px;
    color: #3498db
}
#mobile-menu-open>i,#mobile-menu-close>i {
    cursor: pointer
}

#mobile-menu-open>i:hover,#mobile-menu-close>i:hover {
    color: #217dbb
}

#mobile-menu-close span {
    display: none;
    font-size: 0.5em;
    text-transform: uppercase
}
#mobile-menu-close i {
    vertical-align: middle
}
footer {
    padding: 50px 0;
    background: linear-gradient(to bottom, var(--main-bg-color), var(--header-footer-bg));
    color: var(--text-emphasis);
}
.copyright {
    padding-top: 20px
}
.copyright p {
    margin: 0;
    color: var(--text-disabled)
}
.top {
    text-align: center
}
.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    padding-top: 0.1em;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--text);
    text-align: center
}
.top i {
    color: var(--text-emphasis)
}
.social {
    text-align: right
}
.social ul {
    margin: 5px 0 0 0;
    padding: 0
}
.social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none
}
.social a {
    display: block;
    color: var(--text);
    padding: 10px
}
.social a:hover {
    color: #3498db
}
.btn-rounded-white {
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: .5s ease all
}
.btn-rounded-white:hover {
    color: #3498db;
    background: #fff;
    text-decoration: none
}
/*
.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)
}
.shadow-large {
    box-shadow: 0 3px 6px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.15)
}
*/
.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0
}
.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--text)
}
.background-alt {
    background: #121212
}
#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url(../images/dp.jpeg) no-repeat right ;
    background-size: auto 100%;
    padding: 15px;
    overflow: hidden;
}
#lead-content {
    padding-left: 15px;
    position: absolute;
    z-index: 10;
    top: 50%;
    /*left: 50%;
    transform: translate(-50%, -50%);*/
    transform: translateY(-50%);
    text-align: left
}
#lead-content h1,#lead-content h2 {
    margin: 0
}
#lead-content h1 {
    padding-bottom: 10px;
    color: #fff;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em
}
#lead-content h2 {
    padding-bottom: 25px;
    color: #a0cfee;
    font-weight: 500;
    font-size: 2.25em;
    margin-bottom: 15px
}
#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
    z-index: 1
}
#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: #fff
}
#lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #a0cfee;
    text-align: center
}
#lead-down i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px
}
@keyframes pulsate {
    0% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(1.2, 1.2)
    }
    100% {
        transform: scale(1, 1)
    }
}

#about {
    padding: 75px 15px;
    background: var(--main-bg-color);
}
#about h2 {
    color: var(--text-emphasis)
}
#about p {
    color: var(--text);
    text-align: justify;
    margin: 0
}

#education, #experience {
    padding: 50px 15px;
    background: var(--main-bg-color);
    text-align: center;
}
#education h2, #experience h2 {
    color: var(--text-emphasis)
}
#education-timeline, #experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px
}
#education-timeline:before, #experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: var(--text-disabled);
    z-index: 0
}
#education-timeline:after, #experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: var(--highlight-bg-color);
    background: linear-gradient(to bottom, #181818, #242424);
    top: 100%;
    left: 303px
}
.vtimeline-content {
    margin-left: 350px;
    background: #222;
    padding: 15px;
    border-radius: 3px;
    text-align: left
}
.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--text-emphasis);
    display: inline-block;
    margin: 0
}
.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: var(--text);
    margin: 0 0 15px 0
}
.vtimeline-content p {
    color: var(--text-disabled);
    font-size: 0.9em;
    margin: 0
}
.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px
}
.vtimeline-icon {
    position: relative;
    color: var(--text);
    width: 50px;
    height: 50px;
    background: var(--highlight-bg-color);
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px
}
.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px
}
.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: var(--text)
}
#por {
    padding: 75px 15px 20px 15px;
    background: var(--main-bg-color);
    text-align: center
}
#por h2 {
    color: var(--text-emphasis);
    margin-bottom: 50px
}
.por-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    background: var(--highlight-bg-color);
    text-align: left
}
.por-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: var(--text-emphasis)
}
.por-block span {
    color: var(--text);
    float: right
}
.por-block h4 {
    color: var(--text);
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0
}
.por-block p,.por-block ul {
    margin: 0;
    color: var(--text);
    font-weight:  300;
    font-size: 0.9em
}
.por-block ul {
    padding: 0 0 0 15px
}
#projects {
    padding: 50px 15px;
    background: var(--main-bg-color);
    text-align: center
}
#projects h2 {
    color: var(--text-emphasis);
    margin-bottom: 50px
}
.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: var(--highlight-bg-color);
    border-radius: 4px
}
.project-image {
    float: left
}
.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 300px;
    padding: 15px
}
.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--text-emphasis);
    margin: 0 0 15px 0
}
.project-info p {
    color: var(--text);
    margin: 0 0 15px 0;
    font-size: 0.9em
}
.no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none
}
#more-projects {
    display: none
}
#skills {
    padding: 50px 15px;
    background: var(--main-bg-color);
    text-align: center
}
#skills h2 {
    color: var(--text-emphasis);
    margin-bottom: 50px
}
#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}
#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: var(--text);
    background: #282828;
    list-style: none;
    cursor: default;
    font-size: 1.2em
}
#contact {
    padding: 50px 15px;
    /*background: #3498db;*/
    background: var(--main-bg-color);
    text-align: center
}
#contact h2 {
    color: var(--text-emphasis);
    font-weight: 500
}
#contact-form {
    max-width: 500px;
}
#contact-form input,#contact-form textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    background: #202020;
    color: var(--text);
    transition: .5s ease all
}
#contact-form input:: -webkit-input-placeholder,#contact-form textarea:: -webkit-input-placeholder {
    color: #fff
}
#contact-form input: -moz-placeholder,#contact-form textarea: -moz-placeholder {
    color: #fff;
    opacity: 1
}
#contact-form input:: -moz-placeholder,#contact-form textarea:: -moz-placeholder {
    color: #fff;
    opacity: 1
}
#contact-form input: -ms-input-placeholder,#contact-form textarea: -ms-input-placeholder {
    color: #fff
}
#contact-form input:focus,#contact-form textarea:focus {
    outline: none;
    background: #16527a
}
#contact-form textarea {
    height: 150px;
    resize: none
}
#contact-form button {
    display: block;
    width: 100%;
    text-transform: uppercase;
    background: var(--main-bg-color);
    border-radius: 8px;
    padding: 6px 10px;
    border: 1px solid var(--text);
    color: var(--text);
    font-weight: 700;
    transition: .5s ease all
}
#contact-form button:hover {
    background: #16527a;
    border: none;
}

@media only screen and (max-width: 750px) {
    #education-timeline:before,#education-timeline:after {
        left: 23px
    }
    #experience-timeline:before,#experience-timeline:after {
        left: 23px
    }
    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        font-weight: 500;
        margin-left: 70px
    }
    .vtimeline-icon {
        margin-left: 0
    }
    .vtimeline-content {
        margin-left: 70px
    }

    }
    @media only screen and (max-width: 992px) {
        #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px
    }
    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto
    }
    #lead-content h1 {
        font-size: 3em
    }
    #lead-content h2 {
        font-size: 1.75em
    }
    #about {
        text-align: center
    }
    #about p {
        text-align: justify
    }
    #contact {
        text-align: center
    }
    #contact-form{
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    header div.profile {
        display: none;
    }
    header {
        min-width: 100vw;
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%
    }
    #mobile-menu-open,#mobile-menu-close {
        display: block
    }
    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        background: var(--main-bg-color);
        width: 100%
    }
    #menu li a:hover {
        border: none;

    }
     #menu li {
        display: block;
        margin-bottom: 10px
    }
    #lead-content h1 {
        font-size: 2em
    }
    #lead-content h2 {
        font-size: 1.3em
    }
    #lead-content a {
        padding: 10px 20px
    }
    #lead-down {
        display: none
    }
    .por-block h3,.por-block span {
        float: none
    }
    .project-image {
        display: none
    }
    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none
    }
    footer {
        text-align: center
    }
    .social {
        text-align: center
    }
}

@media only screen and (max-width: 480px) {
    #lead-content h1 {
        font-size: 1.5em
    }
    #lead-content h2 {
        font-size: 1em
    }
    #lead-content a {
        font-size: 0.9em;
        padding: 5px 10px
    }

}



/* parallax scrolling except for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (min-device-width: 1367px) {
  #lead {
    background-attachment: fixed;
  }
}


/* modal style */

.modal-active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
}

.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.modal-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9998;
}

.modal {
    display: flex;
    position: relative;
    width: 95%;
    max-width: 95%;
    max-height: 95%;
    z-index: 9999;
}


.modal-close-btn {
    position: absolute;
    background-color: #2a2a2a;
    line-height: 0;
    padding: 13px;
    border: 1px solid var(--text-disabled);
    border-radius: 99px;
    color: var(--text-disabled);
    right: -20px;
    top: -20px;
    cursor: pointer;
}

.modal-content {
    width: 100%;
    background-color: #252525;
    overflow-x: hidden;
    overflow-y: auto;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, .35);*/
    padding: 9px 21px 18px;
}

.modal-content h2{
    color: var(--text-emphasis);
}

.modal-content p{
    color: var(--text);
}


.modal {
    max-width: 800px;
}