<section id="menu-pane" class="menu text-center">
  {{ if not .IsNode }}
  {{ with .PrevInSection }}
  <span><a class="menu-item" href="{{ .Permalink }}">&lt; prev | </a></span>
  {{ end }}
  {{ if (or (.PrevInSection) (.NextInSection)) }}
  <span><a class="menu-item" href="{{ .Section | relURL }}">{{ .Section | lower }}</a></span>
  {{ end }}
  {{ with .NextInSection }}
  <span><a class="menu-item" href="{{ .Permalink }}"> | next &gt;</a></span>
  {{ end }}
  {{ end }}
  <h4 class="text-center"><a class="menu-item" href="{{ .Site.BaseURL }}">home</a></h4>
</section>
